<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>selection对象与range对象</title>
    <script>
        function selection_click() {
            var html;
            var txt = document.getSelection();
            var range = document.getElementById("showRange");
            // alert(txt.rangeCount);
            if(txt.rangeCount>0){//选择的段落大于0
                html = "您选取了>"+txt.rangeCount+"<段内容<br>"
                for(var i = 0; i < txt.rangeCount;i++){
                    // alert(i);
                    var j = txt.getRangeAt(i);
                    html+="第"+(i+1)+"段内容为："+j;
                }
                range.innerHTML = html;
            }

        }
        function deleteRangeContent(flag){
            var div = document.getElementById("div");
            var range = document.createRange();
            if(flag){
                 range.selectNodeContents(div);
                range.deleteContents();
            }
            else{
                range.selectNode(div);
                range.deleteContents();
            }

        }
    </script>
    <script type="text/javascript" src="js/jquery-1.11.0.js"></script>
    <script>
        function delFirstInfo(){
           var table = document.getElementById("table");
           var ele = document.createRange();
           // alert(table.rows.length);
           if(table.rows.length>0){
               //删除第一行
               ele.setStartBefore(table.rows[0]);
               ele.setEndAfter(table.rows[0]);
               ele.deleteContents();
           }

        }
        function delContents(btn){
            var ele = document.createRange();
            var trNode = btn.parentNode.parentNode;
            ele.setStartBefore(trNode);
            ele.setEndAfter(trNode);
            ele.deleteContents();
        }
        function copyText() {
            var ele = document.createRange();
            var copytext = document.getElementById("copytext");
            ele.selectNodeContents(copytext);
            // alert(ele.cloneRange());
            var clonetext = document.getElementById("clonetext");
            clonetext.innerHTML = ele.cloneRange();
            var doc = ele.cloneContents();
            clonetext.appendChild(doc)


        }
        function moveText(){
            var div1 = document.getElementById("div1");
            var div2 = document.getElementById("div2");
            var ele = document.createRange();
            ele.selectNodeContents(div1)//获取div中的内容
            div2.appendChild(ele.extractContents());
        }


    </script>

</head>
<body>
<p>getSelection()方法可以返回一个Selection对象，用于表示用户选择的文本范围或插入符的当前位置。</p>
<input type="button" value="点击我" onclick="selection_click()">
<div id="showRange"></div>
<div id="div" style="width: 300px;height: 50px;background-color: #d6290b">
    getSelection()方法可以返回一个Selection对象，用于表示用户选择的文本范围或插入符的当前位置.
</div>
<button onclick="deleteRangeContent(true)">删除内容</button>
<button onclick="deleteRangeContent(false)">删除标签</button>
<div style="border: 1px darkgrey solid;margin-top: 15px;overflow: auto">

    <table>
        <thead  style="background-image: url('img/img/pro_title_bg.jpg')">
        <tr>
            <th>商品名称</th>
            <th>单价（元）</th>
            <th>数量</th>
            <th>合计（元）</th>
            <th>类型</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody  id="table">
        <tr>
            <td>男士运动鞋 猫爪野外跑鞋</td>
            <td><span>￥528.00</span></td>
            <td><input type="text" size="5px" name="shopnum"  value="1"></td>
            <td><span></span></td>
            <td><span>-</span></td>
            <td><input type="button" size="5px" name="delshop"  value="取消订购" onclick="delContents(this)"></td>
        </tr>
        <tr>
            <td>09冬新款韩版假两件套长款风衣801黑 配腰带</td>
            <td><span>￥429.00</span></td>
            <td><input type="text" size="5px" name="shopnum"  value="1"></td>
            <td><span></span></td>
            <td><span>-</span></td>
            <td><input type="button" size="5px" name="delshop"  value="取消订购" onclick="delContents(this)"></td>
        </tr>
        <tr>
            <td>美的电脑版压力锅PCS507一锅双胆</td>
            <td><span>￥389.00</span></td>
            <td><input type="text" size="5px" name="shopnum" value="1"></td>
            <td><span></span></td>
            <td><span>-</span></td>
            <td><input type="button" size="5px" name="delshop" value="取消订购" onclick="delContents(this)"></td>
        </tr>
        <tr>
            <td>霍尼韦尔（Honeywell）5010-CHN空气净化器</td>
            <td><span>￥1298.00</span></td>
            <td><input type="text" size="5px" name="shopnum" value="1"></td>
            <td><span></span></td>
            <td><span>-</span></td>
            <td><input type="button" size="5px" name="delshop" value="取消订购" onclick="delContents(this)"></td>
        </tr>
        </tbody>
        <input type="button" size="5px" name="delshop" id="del" value="删除第一行" onclick="delFirstInfo(this)">
    </table>
    <div id="shoppingCart">
        <p><span>共</span><span id="count"></span><span>件商品</span> <span>价格总计：</span><span id="countMoney"></span><span>，您是：<span style="color: blue">一般会员</span>（不享受折扣价）</span></p>
        <p><span>折后价格：</span><span id="RMB"></span><span>&nbsp;获得积分：</span><span id="integral"></span></p>
        <p id="fare"></p>
        <div style="margin-bottom: 10px;margin-right: 10px">
            <input type="button" value="继续购物" size="10px" onclick="location.href=('购物列表.html')">
            <button >现在结算</button>
            <input type="button" value="现在结算" size="10px" onclick="location.href=('购物车.html')">
        </div>
    </div>




</div>
<div style="margin-top: 50px" id="copytext">
     dragenter:拖拽鼠标进入元素时在该元素上触发,用于给拖放元素设置视觉反馈,如高亮
    <input type="button" value="click">

</div>
<input type="button" value="点击" onclick="copyText()">
<div id="clonetext"></div>
<div style="background-color: #d6290b;width: 100px;height: 50px" id="div1">我很好</div>
<div style="background-color: red;width: 100px;height: 50px" id="div2"></div>
<input type="button" value="移动元素" onclick="moveText()">

</body>
</html>