<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        .header{

            width: 960px;                            /*这个div根据你写的替换就行了*/

            height: 40px;

            margin: 5px auto;

          border: 1px solid black;

        }
        .header img{

            height: 40px;

            float: left;

        }
        .header p{

            /*display: block;*/

            width: auto;

            line-height: 14px;

            background: url("sethome.png") no-repeat left center;  /*你的图标路径*/

            padding-left: 20px;

        }

        </style>
    <script>
        function changecolor() {
            document.getElementById("div1").style.borderColor = "black";
        }
    </script>
    <script type="text/javascript" src="js/jquery-1.11.0.js"></script>
    <script>
        //是否同意协议
        $(function() {
            // $("#agree").change(function () {
            //     var $isChecked = $(this).is(":checked");
            //     // alert($isChecked);
            //     if ($isChecked == "true") {
            //         //bukeyong
            //         $('#submit').prop('disabled', true);
            //     } else {
            //          $('#submit').prop('checked', false);
            //     }
            // });
            $("#agree").change(function() {
                if($("#agree").prop("checked")){
                    $("#submit").attr('disabled',false);//按钮可用
                }
                else{
                    $("#submit").attr('disabled',true);//按钮不可用
                }
            });

        });






    </script>
    <script>

        function setYb(){
            document.getElementById("yb").control.value="020202";
        }
        function shownum(){
            var range=document.getElementById("range").value;
            // alert(range);
            document.getElementById("n").value = range;
        }
        function detail_click(detail){
            // var detail = document.getElementById("detail");
            if(detail.open){
                document.getElementById("contents").style.visibility = "hidden";
            }
            else{
                document.getElementById("contents").style.visibility ="visible";
            }

        }
        function jdt(){
            setInterval(p, 2000);
        }
        var i=0;
        function p(){

            if(i<=100) {
                i++;

                document.getElementById("progress").value = i;
            }

        }

    </script>
</head>
<body>
    <div class="header">
        <img src="img/logo111.jpg" style="clip:rect(20px 100px 50px 20px); ">
        <p>你好啊啊啊啊啊</p>
    </div>
<div>
    <div id="div1" style="margin-top: 30px;
    width: 100px;
    height: 20px;
    float:left;
    cursor:pointer;
    border-top: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    text-align: center;" onclick="changecolor()">
        shiofh
    </div>
</div>
<div style="clear: both">
    <input type="checkbox" id="agree">
    <input type="submit" id="submit" disabled="true">

    <br>
    <input type="tel" >
</div>
<div style="margin-top: 100px">
    <form>
        <label id="yb">
        <input type="text" maxlength="6" id="txt"><small>请输入邮政编码</small>
        </label>
        <input type="button" value="邮政编码" onclick="setYb()">


    </form>

    <input type="color" onchange="document.body.style.backgroundColor = this.value">
    <form>
        <input type="range" min="0" max="100" step="5" value="10" id="range" onchange="shownum()">
        <output id="n">10</output>
    </form>
    <br>
    <details id="detail" onclick="detail_click(this)">
        <summary>拖拽会用到哪些事件</summary>
        <span id="contents" style="visibility: hidden">· dragstart:拖拽开始时在被拖拽元素上触发此事件,监听器需要设置拖拽所需数据,从操作系统拖拽文件到浏览器时不触发此事件</span>
    </details>

</div>

<div style="margin-top: 50px">
    <section>
        <h2>pregress元素的使用</h2>
        <p>完成的百分比</p>
        <progress id="progress" max="100" value="0"></progress>
        <input type="button" value="点击" onclick="jdt()">
    </section>
</div>


</body>
</html>