<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="css/shopCSS.css">
    <script type="text/javascript" src="js/shopJS.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.0.js"></script>

    <script>
        $(function(){
            changeShopInfo();
           //调用
            if(decodeURI(window.location.href).split('?')[1].indexOf("name")>=0){//有传参数

            var urlinfo = window.location.href,//获取url 
                name = urlinfo.split("?")[1].split("=")[1].split("&")[0],
            price = urlinfo.split(name)[1].split('=')[1]; //拆分url得到”=”后面的参数 
            var shopname = decodeURI(name);
            var shopprice = decodeURI(price);
            //若购物车中有将要添加的商品，则数量变为2
                // 遍历tbody中的名称
                // var flag = 0;
                // $("tbody tr").find('td').each(function(){
                //     // if($(this).text()== shopprice)
                //     // {
                //     //     alert($(this).text().trim()==shopname.trim())
                //
                //
                //     // }
                // });

            $("tbody").append(
                "<tr>" +
                    "<td>"+shopname+"</td>"+
                "<td><span>￥"+shopprice+"</span></td>"+
                "<td><input type=\"text\" size=\"5px\" name=\"shopnum\"  value=\"1\"></td>"+
                "<td><span>"+parseInt(shopprice)+"</span></td><td><span>-</span></td>"+
                "<td><input type=\"button\" size=\"5px\" name=\"delshop\"  value=\"取消订购\"></td>"

                +"</tr>"
            );

            //重新合计金额
                changeShopInfo();

            }

        });
        // <td>09冬新款韩版假两件套长款风衣801黑 配腰带</td>
        // <td><span>￥429.00</span></td>
        // <td><input type="text" size="5px" name="shopnum"  value="1"></td>
        //     <td><span></span></td>
        // <td><span>-</span></td>
        // <td><input type="button" size="5px" name="delshop"  value="取消订购"></td>
        function changeShopInfo() {
            //输入框内容不能少于0
            $("input[type='text']").blur(function () {
                if($(this).val()<1){
                    $(this).val(1);

                }
                else if($(this).val()>20){
                    $(this).val(20);
                }
            });
            var count = changeshopNum();

            $("#count").text(count);
            $("#shopping1").text(count);
            //若数量更改
            $("input[type='text']").change(function () {
                var count1 = changeshopNum();
                $("#count").text(count1);
                $("#shopping1").text(count1);
            });
            //合计金额
            var countMoney = heji();
            // alert(count)
            $("#countMoney").text('￥'+countMoney+'元');
            $("#shopping2").text('￥'+countMoney+'元');
            $("#RMB").text('￥'+countMoney+'元');
            $('#integral').text(countMoney+'积分');
            if(countMoney>=500){
                $("#fare").text("满￥500元包邮，您的订单可以免费送货");
            }
            if(countMoney<500){
                $("#fare").text("满￥500元包邮，您还需要支付10元运费");
            }
            //如果数量更改重新合计金额
            $("input[type='text']").change(function () {
                var countMoney1 = heji();
                $("#countMoney").text('￥'+countMoney1+'元');
                $("#RMB").text('￥'+countMoney1+'元');
                $('#integral').text(countMoney1+'积分');
                $("#shopping2").text('￥'+countMoney1+'元');
                if(countMoney1>=500){
                    $("#fare").text("满￥500元包邮，您的订单可以免费送货");
                }
                if(countMoney1<500){
                    $("#fare").text("满￥500元包邮，您还需要支付10元运费");
                }
            });
            $("input[type='button']").click(function () {
                //取消订单

                $(this).parent().parent().remove();
                // 更新件数和总额
                var count = changeshopNum();

                $("#count").text(count);
                //若数量更改
                $("input[type='text']").change(function () {
                    var count1 = changeshopNum();
                    $("#count").text(count1);
                });
                //合计金额
                var countMoney = heji();
                // alert(count)
                $("#countMoney").text('￥'+countMoney+'元');
                $("#RMB").text('￥'+countMoney+'元');
                $('#integral').text(countMoney+'积分');
                if(countMoney>=500){
                    $("#fare").text("满￥500元包邮，您的订单可以免费送货");
                }
                if(countMoney<500){
                    $("#fare").text("满￥500元包邮，您还需要支付10元运费");
                }
                //如果数量更改重新合计金额
                $("input[type='text']").change(function () {
                    var countMoney1 = heji();
                    $("#countMoney").text('￥'+countMoney1+'元');
                    $("#RMB").text('￥'+countMoney1+'元');
                    $('#integral').text(countMoney1+'积分');
                    if(countMoney1>=500){
                        $("#fare").text("满￥500元包邮，您的订单可以免费送货");
                    }
                    if(countMoney1<500){
                        $("#fare").text("满￥500元包邮，您还需要支付10元运费");
                    }
                });
            });
        }
        function changeshopNum(){
            var count = 0;
            $("tbody").find("input[type='text']").each(function(){

                var cc =  parseInt($(this).val());
                if(cc<1){
                    cc=1;
                }
                else if(cc>20){
                    cc=20
                }
                count=count + cc;


            });
            // alert(count);
            return count;
        }
        function heji() {
            var money = 0;
            var num = 0;
            var countMoney = 0;
            $("tbody").find("tr").each(function () {
                var tdArr = $(this).children();//td
                //获取单价
                money = tdArr.eq(1).find('span').text().split("￥")[1];
                //获取num
                num = tdArr.eq(2).find('input').val();
                if(num<1){
                    num = 1;
                }
                else if(num>20){
                    num = 20;
                }
                tdArr.eq(3).find('span').text(parseInt(money * num));
                countMoney += parseInt(money * num);


            });
            return countMoney;
        }


    </script>
    <style>
        thead tr th{
            font-weight: bolder;
            font-size: 15px;
            text-align: center;
        }
        tbody tr td{
            color: grey;
            font-size: 15px;
            text-align: center;
        }
        tbody tr td span{
            color: black;
        }
        #RMB,#countMoney,#count{
            color: red;
            font-weight: bolder;
        }
        #shoppingCart{
            font-size: 15px;
            margin-right: 10px;
            line-height: 1px;
        }

    </style>


</head>
<body>
    <div id="container">
        <!--网站头部-->
        <header id="pagetop">
            <div class="indexLogo">
                <img src="img/logo.gif"/>
            </div>
        </header>
        <header id="msg">
            <span style="font-size: x-small">您好，欢迎来到京东商城！想继续购物？<a href="#">[请登录]</a>，新用户？<a href="#">[免费注册]</a></span>
        </header>

        <header class="topNav" style="position: relative">
            <!--<a href="#">帮助中心</a>|<a href="#">客户反馈</a>|<a href="#">网站地图</a>|<a href="#">加入收藏</a>-->
            <div class="topNavList">
                <ul>
                    <li><a href="#">帮助中心</a>|</li>
                    <li><a href="#">客户反馈</a>|</li>
                    <li><a href="#">网站地图</a>|</li>
                    <li><a href="#">加入收藏</a></li>
                    <li><span  id="getTime"></span></li>
                </ul>
            </div>

        </header>
        <marquee direction="up" scrollamount="3" onmouseover="this.stop()" onmouseout="this.start()"><a href="#">最新公告：明天有秒杀活动哦！</a> </marquee>
        <!--导航栏-->
        <aside id="navBar">
            <nav id="navBar_top">
                <ul>
                    <li><a href="#" class="setFont" id="a1" onmouseover="changeC('a1', 'over')" onmouseout="changeC('a1', 'out')"> 网站首页</a>|</li>
                    <li><a href="#" class="setFont" id="a2" onmouseover="changeC('a2', 'over')" onmouseout="changeC('a2', 'out')"> 分类导航</a>|</li>
                    <li><a href="#" class="setFont" id="a3" onmouseover="changeC('a3', 'over')" onmouseout="changeC('a3', 'out')"> 品牌导航</a>|</li>
                    <li><a href="#" class="setFont" id="a4" onmouseover="changeC('a4', 'over')" onmouseout="changeC('a4', 'out')"> 购物帮助</a>|</li>
                    <li><a href="#" class="setFont" id="a5" onmouseover="changeC('a5', 'over')" onmouseout="changeC('a5', 'out')"> 新闻资讯</a>|</li>
                    <li><a href="#" class="setFont" id="a6" onmouseover="changeC('a6', 'over')" onmouseout="changeC('a6', 'out')"> 报价单</a>|</li>
                    <li><a href="#" class="setFont" id="a7" onmouseover="changeC('a7', 'over')" onmouseout="changeC('a7', 'out')"> 发货单</a></li>
                </ul>

            </nav>
            <nav id="navBar_bottom">
                <nav id="find">
                    <span class="setfont">商品搜索:</span>
                    <span>
                        <select>
                        <option>所有分类</option>
                        <option>家用电器</option>
                        <option>手机数码</option>
                        <option>电脑产品</option>
                        <option>日用百货</option>
                        <option>鞋装鞋帽</option>
                        <option>运动健康</option>
                        </select>
                    </span>
                </nav>
                <div id="find2">
                    <input type="text" placeholder="请输入商品名称" maxlength="50" size="40px">
                    <input type="button" value="搜索">
                    <span class="setfont">高级/组合搜索</span>
                </div>
                <nav id="find3">
                    <span style="font-size: 12px; line-height: 24px">
                        <a href="#" style="padding-left: 23px"><span id="shopping1"></span><span>件商品 合计：</span><span id="shopping2"></span></a>
                        <a href="#" style="padding-left: 15px">去结算</a>
                        <a href="#" style="padding-left: 26px">用户中心</a>
                    </span>


                </nav>
            </nav>
        </aside>
        <!--网站中部-->
        <div id="pageBody">
            <!--左部-->
            <div id="bLefe">
                <div id="bLeftTop">
                    <div class="bLeftTop_1">用户信息</div>
                    <div id="bLeftTop_2">
                        <ul>
                            <li><img src="img/user/1.gif">&nbsp;<a href="#">欢迎tiger[退出]</a> </li>
                            <li><img src="img/user/2.gif">&nbsp;<a href="#">用户资料修改</a></li>
                            <li><img src="img/user/3.gif">&nbsp;<a href="#">用户密码修改</a></li>
                            <li><img src="img/user/4.gif">&nbsp;<a href="#">订单管理</a> </li>
                            <li><img src="img/user/5.gif">&nbsp;<a href="#">管理优惠券</a></li>
                            <li><img src="img/user/6.gif">&nbsp;<a href="#">兑换优惠券</a></li>
                            <li><img src="img/user/7.gif">&nbsp;<a href="#">缺货登记&nbsp;登记记录</a> </li>
                            <li><img src="img/user/8.gif">&nbsp;<a href="#">购物车</a></li>
                            <li><img src="img/user/9.gif">&nbsp;<a href="#">我的收藏</a></li>
                            <li><img src="img/user/10.gif">&nbsp;<a href="#">对比框</a></li>
                        </ul>
                    </div>
                </div>







        </div>
            <!--中部-->
            <div id="bMiddle" style="width: 780px;margin-bottom: 30px">
                <header id="position">
                    <img src="img/img/home.gif"><span>您的位置:</span><span><a href="麦子商城.html">首页 >></a></span><a href="#"><span style="color: black">购物车</span></a>
                </header>

                <div style="border: 1px darkgrey solid;margin-top: 15px;overflow: auto">

                   <table>
                       <thead  style="background-image: url('img/img/pro_title_bg.jpg')">
                       <tr>
                           <th>商品名称</th>
                           <th>单价（元）</th>
                           <th>数量</th>
                           <th>合计（元）</th>
                           <th>类型</th>
                           <th>操作</th>
                       </tr>
                       </thead>
                       <tbody>
                       <tr>
                           <td>男士运动鞋 猫爪野外跑鞋</td>
                           <td><span>￥528.00</span></td>
                           <td><input type="text" size="5px" name="shopnum"  value="1"></td>
                           <td><span></span></td>
                           <td><span>-</span></td>
                           <td><input type="button" size="5px" name="delshop"  value="取消订购"></td>
                       </tr>
                       <tr>
                           <td>09冬新款韩版假两件套长款风衣801黑 配腰带</td>
                           <td><span>￥429.00</span></td>
                           <td><input type="text" size="5px" name="shopnum"  value="1"></td>
                           <td><span></span></td>
                           <td><span>-</span></td>
                           <td><input type="button" size="5px" name="delshop"  value="取消订购"></td>
                       </tr>
                       <tr>
                           <td>美的电脑版压力锅PCS507一锅双胆</td>
                           <td><span>￥389.00</span></td>
                           <td><input type="text" size="5px" name="shopnum" value="1"></td>
                           <td><span></span></td>
                           <td><span>-</span></td>
                           <td><input type="button" size="5px" name="delshop" value="取消订购"></td>
                       </tr>
                       <tr>
                           <td>霍尼韦尔（Honeywell）5010-CHN空气净化器</td>
                           <td><span>￥1298.00</span></td>
                           <td><input type="text" size="5px" name="shopnum" value="1"></td>
                           <td><span></span></td>
                           <td><span>-</span></td>
                           <td><input type="button" size="5px" name="delshop" value="取消订购"></td>
                       </tr>
                       </tbody>
                   </table>
                    <div id="shoppingCart">
                        <p><span>共</span><span id="count"></span><span>件商品</span> <span>价格总计：</span><span id="countMoney"></span><span>，您是：<span style="color: blue">一般会员</span>（不享受折扣价）</span></p>
                        <p><span>折后价格：</span><span id="RMB"></span><span>&nbsp;获得积分：</span><span id="integral"></span></p>
                        <p id="fare"></p>
                        <div style="margin-bottom: 10px;margin-right: 10px">
                            <input type="button" value="继续购物" size="10px" onclick="location.href=('购物列表.html')">
                            <button >现在结算</button>
                            <!--<input type="button" value="现在结算" size="10px" onclick="location.href=('购物车.html')">-->
                        </div>
                    </div>




                </div>


            </div>




        <!--网站底部-->
        <div id="foot">
            <div class="footInfo">
                <span>关于我们</span>
                <ul>
                    <li><a href="#">发展历程</a></li>
                    <li><a href="#">联系方式</a></li>
                    <li><a href="#">公司介绍</a></li>
                    <li><a href="#">企业文化</a></li>
                </ul>
            </div>
            <div class="footInfo">
                <span>付款方式</span>
                <ul>
                    <li><a href="#">银行汇款</a></li>
                    <li><a href="#">在线支付</a></li>
                    <li><a href="#">银行汇款</a></li>
                    <li><a href="#">公司转账</a></li>
                </ul>
            </div>
            <div class="footInfo">
                <span>送货方式</span>
                <ul>
                    <li><a href="#">上门自提</a></li>
                    <li><a href="#"> EMS快递</a></li>
                    <li><a href="#">快递发货</a></li>
                    <li><a href="#">平邮发货</a></li>
                </ul>
            </div>
            <div class="footInfo">
                <span>售后服务</span>
                <ul>
                    <li><a href="#">质量保障</a></li>
                    <li><a href="#">退换货政策</a></li>
                    <li><a href="#">价格保护</a></li>
                    <li><a href="#">返修申请</a></li>
                </ul>
            </div>
            <div class="footInfo">
                <span>购物帮助</span>
                <ul>
                    <li><a href="#">用户级别</a></li>
                    <li><a href="#">积分获得与使用</a></li>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">常见问题</a></li>
                </ul>
            </div>

        </div>
        <!--<div id="bottomShopInfo"><span><a href="#">淘宝店</a></span> <span><a href="#">易趣店</a></span> <span><a href="#">拍拍店</a></span> <span><a href="#">有啊店</a></span><br>-->
        <footer id="bottomShopInfo">
            <a href="#">淘宝店</a></span> <span><a href="#">易趣店</a></span> <span><a href="#">拍拍店</a></span> <span><a href="#">有啊店</a></span>
            <br>
            <span style="color: black;font-size: 10px;">Copyright 2015 127.0.0.1. All Rights Reserved.版权所有：广州网软志成信息科技有限公司</span>
        </footer>

        <!--</div>-->

    </div>


</body>
</html>