<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>麦子商城</title>
    <link rel="stylesheet" href="css/shopCSS.css">

    <script type="text/javascript" src="js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="js/shopJS.js"></script>
</head>
<body>
    <div id="container">
        <!--网站头部-->
        <header id="pagetop">
            <div class="indexLogo">
                <img src="img/logo.gif"/>
            </div>
        </header>
        <header id="msg">
            <span style="font-size: x-small">您好，欢迎来到京东商城！想继续购物？<a href="登录页面.html">[请登录]</a>，新用户？<a href="用户注册页面.html">[免费注册]</a></span>
        </header>

        <header class="topNav" style="position: relative">
            <!--<a href="#">帮助中心</a>|<a href="#">客户反馈</a>|<a href="#">网站地图</a>|<a href="#">加入收藏</a>-->
            <div class="topNavList">
                <ul>
                    <li><a href="#">帮助中心</a>|</li>
                    <li><a href="#">客户反馈</a>|</li>
                    <li><a href="#">网站地图</a>|</li>
                    <li><a href="#">加入收藏</a></li>
                    <li><span  id="getTime"></span></li>
                </ul>
            </div>

        </header>
        <marquee direction="up" scrollamount="3" onmouseover="this.stop()" onmouseout="this.start()"><a href="#">最新公告：明天有秒杀活动哦！</a> </marquee>
        <!--导航栏-->
        <aside id="navBar">
            <nav id="navBar_top">
                <ul>
                    <li><a href="麦子商城.html" class="setFont" id="a1" onmouseover="changeC('a1', 'over')" onmouseout="changeC('a1', 'out')"> 网站首页</a>|</li>
                    <li><a href="#" class="setFont" id="a2" onmouseover="changeC('a2', 'over')" onmouseout="changeC('a2', 'out')"> 分类导航</a>|</li>
                    <li><a href="#" class="setFont" id="a3" onmouseover="changeC('a3', 'over')" onmouseout="changeC('a3', 'out')"> 品牌导航</a>|</li>
                    <li><a href="#" class="setFont" id="a4" onmouseover="changeC('a4', 'over')" onmouseout="changeC('a4', 'out')"> 购物帮助</a>|</li>
                    <li><a href="#" class="setFont" id="a5" onmouseover="changeC('a5', 'over')" onmouseout="changeC('a5', 'out')"> 新闻资讯</a>|</li>
                    <li><a href="#" class="setFont" id="a6" onmouseover="changeC('a6', 'over')" onmouseout="changeC('a6', 'out')"> 报价单</a>|</li>
                    <li><a href="#" class="setFont" id="a7" onmouseover="changeC('a7', 'over')" onmouseout="changeC('a7', 'out')"> 发货单</a></li>
                </ul>

            </nav>
            <nav id="navBar_bottom">
                <nav id="find">
                    <span class="setfont">商品搜索:</span>
                    <span>
                        <select>
                        <option>所有分类</option>
                        <option>家用电器</option>
                        <option>手机数码</option>
                        <option>电脑产品</option>
                        <option>日用百货</option>
                        <option>鞋装鞋帽</option>
                        <option>运动健康</option>
                        </select>
                    </span>
                </nav>
                <div id="find2">
                    <input type="text" placeholder="请输入商品名称" maxlength="50" size="40px">
                    <input type="button" value="搜索">
                    <span class="setfont">高级/组合搜索</span>
                </div>
                <nav id="find3">
                    <span style="font-size: 12px; line-height: 24px">
                        <a href="#" style="padding-left: 30px">购物车</a>
                        <a href="#" style="padding-left: 108px">去结算</a>
                        <a href="#" style="padding-left: 26px">用户中心</a>
                    </span>


                </nav>
            </nav>
        </aside>
        <!--网站中部-->
        <div id="pageBody">
            <!--左部-->
            <div id="bLefe">
                <div id="bLeftTop">
                    <div class="bLeftTop_1">用户信息</div>
                    <div id="bLeftTop_2">
                        <ul>
                            <li><img src="img/user/1.gif">&nbsp;<a href="登录页面.html">注册/登录</a> </li>
                            <li><img src="img/user/8.gif">&nbsp;<a href="购物车.html">购物车</a></li>
                            <li><img src="img/user/10.gif">&nbsp;<a href="#">对比框</a></li>
                        </ul>
                    </div>
                </div>
                <div id="bLeftBottom">
                    <div class="bLeftTop_1">商品分类</div>
                    <aside id="bLeftBottom_2">
                        <nav class="type">
                            <font color="#ff8c00" size="3px" style="font-weight: bolder"> ></font>
                            <span style="color: red;font-size: 15px;font-weight: bolder">家用电器</span>

                                <ul style="position:relative; left:-10px; top:0px">
                                    <li><span class="f1"><a href="#">大电器</a></span>|<a href="#">厨房电器</a></li>
                                    <hr style="height:1px;border:none;border-top:1px dashed gray;">
                                    <li><a href="#">汽车用品</a>|<a href="#">个人护理</a></li>
                                    <hr style="height:1px;border:none;border-top:1px dashed gray;">
                                    <li><a href="#">生活电器</a>|<a href="#">其他家电</a></li>
                                </ul>

                        </nav>
                        <nav class="type">
                            <font color="#ff8c00" size="3px" style="font-weight: bolder"> ></font>
                            <span style="color: red;font-size: 15px;font-weight: bolder">手机数码</span>

                            <ul style="position:relative; left:-10px; top:0px">
                                <li><span ><a href="#">数码相机</a></span>|<a href="#">手机通讯</a></li>
                                <hr style="height:1px;border:none;border-top:1px dashed gray;">
                                <li><a href="#">时尚影音</a>|<a href="#">数码配件</a></li>
                                <hr style="height:1px;border:none;border-top:1px dashed gray;">
                                <li><a href="#">数码影像</a>|<a href="#">手机配件</a></li>
                            </ul>

                        </nav>
                        <nav class="type">
                            <font color="#ff8c00" size="3px" style="font-weight: bolder"> ></font>
                            <span style="color: red;font-size: 15px;font-weight: bolder">电脑产品</span>

                            <ul style="position:relative; left:-10px; top:0px">
                                <li><span class="f1"><a href="#">笔记本</a></span>|<a href="#">办公耗材</a></li>
                                <hr style="height:1px;border:none;border-top:1px dashed gray;">
                                <li><a href="#">电脑软件</a>|<a href="#">网络产品</a></li>
                                <hr style="height:1px;border:none;border-top:1px dashed gray;">
                                <li><a href="#">办公设备</a>|<a href="#">电脑整机</a></li>
                            </ul>

                        </nav>
                        <nav class="type1">
                            <font color="#ff8c00" size="3px" style="font-weight: bolder"> ></font>
                            <span style="color: red;font-size: 15px;font-weight: bolder">日用百货</span>

                            <ul style="position:relative; left:-10px; top:0px">
                                <li><span ><a href="#">玩具乐器</a></span>|<a href="#">个护化妆</a></li>
                                <hr style="height:1px;border:none;border-top:1px dashed gray;">
                                <li><a href="#">礼品箱包</a>|<a href="#">钟表首饰</a></li>

                            </ul>

                        </nav>
                        <nav class="type1">
                            <font color="#ff8c00" size="3px" style="font-weight: bolder"> ></font>
                            <span style="color: red;font-size: 15px;font-weight: bolder">服装鞋帽</span>

                            <ul style="position:relative; left:-10px; top:0px">
                                <li><span class="f1"><a href="#">运动鞋</a></span>|<a href="#">女士服装</a></li>
                                <hr style="height:1px;border:none;border-top:1px dashed gray;">
                                <li><a href="#">男士服装</a>|<a href="#" class="f1">运动装</a></li>

                            </ul>

                        </nav>
                        <nav class="type1">
                            <font color="#ff8c00" size="3px" style="font-weight: bolder"> ></font>
                            <span style="color: red;font-size: 15px;font-weight: bolder">运动健康</span>

                            <ul style="position:relative; left:-10px; top:0px">
                                <li><span><a href="#">户外运动</a></span>|<a href="#">运动器材</a></li>
                                <hr style="height:1px;border:none;border-top:1px dashed gray;">
                                <li><a href="#">养生器械</a>|<a href="#">健康食品</a></li>

                            </ul>

                        </nav>
                        <div id="bLeftBottom_3"  onmouseover="showType()" onmouseout="hideType()">
                            <a href="#"><span>所有分类>></span></a>
                        </div>

                        <nav  id="hidden_info" onmouseover="showType()" onmouseout="hideType()">
                            <ul>
                                <li><a href="#">大电器</a> </li>
                                <li><a href="#">厨房电器</a></li>
                                <li><a href="#">汽车用品</a></li>
                                <li><a href="#">个人护理</a></li>
                                <li><a href="#">生活电器</a></li>
                                <li><a href="#">其他电器</a></li>
                                <li><a href="#">数码相机</a></li>
                                <li><a href="#">手机通讯</a></li>
                                <li><a href="#">时尚摄影</a></li>
                                <li><a href="#">数码配件</a></li>
                                <li><a href="#">数码影像</a></li>
                                <li><a href="#">手机配件</a></li>
                                <li><a href="#">笔记本</a></li>
                                <li><a href="#">办公耗材</a></li>
                                <li><a href="#">电脑软件</a></li>
                                <li><a href="#">网络产品</a></li>
                                <li><a href="#">办公设备</a></li>
                                <li><a href="#">电脑整机</a></li>
                                <li><a href="#">玩具乐器</a></li>
                                <li><a href="#">个护化妆</a></li>
                            </ul>


                        </nav>

                    </aside>
                    <div style="margin-top: 5px"><img src="img/Wrzcnet/left_01.gif"></div>

                        <div class="bLeftTop_1" style="margin-top: 5px">推荐品牌</div>
                        <div class="bRightTop_4">
                            <ul>
                                <li>CAMEL</li>
                                <li>ONLY</li>
                                <li>CANON</li>
                                <li>BONY</li>
                                <li>HP</li>
                                <li>H2M</li>
                            </ul>
                            <div ><a href="#">更多品牌>></a></div>


                        </div>
                    <div style="float: left;margin-top: -10px;margin-bottom: 5px">
                        <div class="bLeftTop_1" style="margin-top: 5px">合作伙伴</div>
                        <div class="bRightTop_5">
                            <p>网软志成人才</p>
                            <p>网软志成商城</p>
                        </div>
                    </div>

                </div>

            </div>

            <!--中部-->
            <div id="bMiddle">
                <div id="changeImg" >
                    <div id="pic">
                        <img src="img/Wrzcnet/1.jpg" id="img1" width="100%" height="100%">
                    </div>
                    <div id="changeNum">
                        <ul id="num">
                        </ul>

                    </div>

                </div>
                <!--推荐商品-->
                <div id="recommend">
                    <div class="recommend_name">
                        <span>推荐商品</span>
                        <span style="color: #656565;position: relative;left: 450px;font-size: 10px;font-weight: lighter"><span style="color: red">*</span><a href="#">MORE</a></span>

                    </div>
                    <div>
                        <table width="100%">
                            <tr>
                                <td ><a href="#"><img src="img/imgs/5.png"></a>
                                    <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">霍尼韦尔</a><br>¥1298.00元</p>
                                </td>
                                <td ><a href="#"><img src="img/imgs/4.png"></a>
                                    <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">戴尔I560SR-128 商用台</a><br>¥3999.00元</p>
                                </td>
                                <td ><a href="#"><img src="img/imgs/3.png"></a>
                                    <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">爱普生EPL-N2500 A3黑白N250</a><br>¥7599.00元</p>
                                </td>
                                <td ><a href="#"><img src="img/imgs/2.png"></a>
                                    <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">美的电脑版电压力锅PCS507</a><br>¥389.00元</p>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#"><img src="img/imgs/6.png"></a>
                                    <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">索尼爱立信 Z610c超经典镜面</a><br>¥1395.00元</span>
                                </td>
                                <td><a href="#"><img src="img/imgs/7.png"></a>
                                    <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">HP笔记本 dv-210210AX特价</a><br>¥4395.00元</span>
                                </td>
                                <td><a href="#"><img src="img/imgs/8.png"></a>
                                    <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">佳能A1100IS数码相机 1200万像素</a><br>¥4395.00元</span>
                                </td>
                                <td><a href="#"><img src="img/imgs/9.png"></a>
                                    <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">佳能A1100IS数码相机 1000万像素</a><br>¥5398.00元</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                  <!--热门商品-->
                     <div class="recommend_name">
                       <span>热门商品</span>
                         <span style="color: #656565;position: relative;left: 450px;font-size: 10px;font-weight: lighter"><span style="color: red">*</span><a href="#">MORE</a></span>
                   </div>
                   <div>
                       <table width="100%">
                           <tr>
                               <td ><a href="#"><img src="img/imgs/5.png"></a>
                                   <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">霍尼韦尔</a><br>¥1298.00元</p>
                               </td>
                               <td ><a href="#"><img src="img/imgs/4.png"></a>
                                   <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">戴尔I560SR-128 商用台</a><br>¥3999.00元</p>
                               </td>
                               <td ><a href="#"><img src="img/imgs/3.png"></a>
                                   <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">爱普生EPL-N2500 A3黑白N250</a><br>¥7599.00元</p>
                               </td>
                               <td ><a href="#"><img src="img/imgs/2.png"></a>
                                   <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">美的电脑版电压力锅PCS507</a><br>¥389.00元</p>
                               </td>
                           </tr>

                       </table>
                   </div>
                   <!--特卖商品-->
                    <div class="recommend_name">
                        <span>特价商品</span>
                        <span style="color: #656565;position: relative;left: 450px;font-size: 10px;font-weight: lighter"><span style="color: red">*</span><a href="#">MORE</a></span>
                    </div>
                    <div>
                        <table width="100%"  >
                            <tr>
                                <td ><a href="#"><img src="img/imgs/5.png"></a>
                                    <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">霍尼韦尔</a><br>¥1298.00元</p>
                                </td>
                                <td ><a href="#"><img src="img/imgs/4.png"></a>
                                    <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">戴尔I560SR-128 商用台</a><br>¥3999.00元</p>
                                </td>
                                <td ><a href="#"><img src="img/imgs/3.png"></a>
                                    <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">爱普生EPL-N2500 A3黑白N250</a><br>¥7599.00元</p>
                                </td>
                                <td ><a href="#"><img src="img/imgs/2.png"></a>
                                    <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">美的电脑版电压力锅PCS507</a><br>¥389.00元</p>
                                </td>
                            </tr>

                        </table>


                    </div>
                    <img src="img/Wrzcnet/11.jpg" width="100%">
                    <div class="recommend_name">
                        <span>热卖商品</span>
                        <span style="color: #656565;position: relative;left: 450px;font-size: 10px;font-weight: lighter"><span style="color: red">*</span><a href="#">MORE</a></span>
                    </div>
                    <div>
                        <table width="100%"  >
                            <tr>
                                <td ><a href="#"><img src="img/imgs/5.png"></a>
                                    <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">霍尼韦尔</a><br>¥1298.00元</p>
                                </td>
                                <td ><a href="#"><img src="img/imgs/4.png"></a>
                                    <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">戴尔I560SR-128 商用台</a><br>¥3999.00元</p>
                                </td>
                                <td ><a href="#"><img src="img/imgs/3.png"></a>
                                    <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">爱普生EPL-N2500 A3黑白N250</a><br>¥7599.00元</p>
                                </td>
                                <td ><a href="#"><img src="img/imgs/2.png"></a>
                                    <p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">美的电脑版电压力锅PCS507</a><br>¥389.00元</p>
                                </td>
                            </tr>

                        </table>


                    </div>
                    <div >
                        <div style="color: #666666;font-size: 10px;font-weight: bolder;">本站支持以下支付方式：</div><br>
                        <div align="center">
                            <img src="img/pay/logo_alipay.gif" width="125px">
                            <img src="img/pay/logo_tenpay.gif" width="125px">
                            <img src="img/pay/logo_paypal.gif" width="125px">
                            <img src="img/pay/logo_ebank.gif" width="125px">
                        </div>
                    </div>
                </div>

            </div>
            <!--右部-->
            <div id="bRight">
                <div class="bLeftTop_1">网站新闻</div>
                <div class="bRightTop_1">
                    <ul>
                        <li><a href="#"> <span style="font-size: 10px;color: darkorange;font-weight: bolder"> >&nbsp;</span>京东商城网站模板</a></li>
                        <li><a href="#"> <span style="font-size: 10px;color: darkorange;font-weight: bolder"> >&nbsp;</span>京东商城系统</a></li>
                        <li><a href="#"> <span style="font-size: 10px;color: darkorange;font-weight: bolder"> >&nbsp;</span>b2b商城系统</a></li>
                        <li><a href="#"> <span style="font-size: 10px;color: darkorange;font-weight: bolder"> >&nbsp;</span>京东商城系统功能</a></li>
                        <li><a href="#"> <span style="font-size: 10px;color: darkorange;font-weight: bolder"> >&nbsp;</span>shop商城系统</a></li>
                        <li><a href="#"> <span style="font-size: 10px;color: darkorange;font-weight: bolder"> >&nbsp;</span>独立商城系统</a></li>
                        <li><a href="#"> <span style="font-size: 10px;color: darkorange;font-weight: bolder"> >&nbsp;</span>网购商城系统</a></li>
                        <li><a href="#"> <span style="font-size: 10px;color: darkorange;font-weight: bolder"> >&nbsp;</span>php商城系统</a></li>
                    </ul>
                </div>
                <div>
                    <div class="bLeftTop_1" style="margin-top: 5px">客户服务</div>
                    <div class="bRightTop_2">
                    <p>电话：020-11111111</p>
                    <p>邮箱：webmaster@wrzc.net</p>
                    <p>传真：020-22222222</p>
                    <p>
                        <span style="border: 1px solid darkgray"><img src="img/11.png" ><a href="http://wpa.qq.com/msgrd?v=3&uin=8888888&site=qq&menu=yes ">售前服务</a> </span>
                        <span style="border: 1px solid darkgray;margin-left: 5px"><img src="img/11.png" ><a href="http://wpa.qq.com/msgrd?v=3&uin=8888888&site=qq&menu=yes ">售后服务</a></span>
                    </p>

                </div>
                </div>

                <div class="bLeftTop_1" style="margin-top: 5px">分类推荐商品</div>
                <div class="bRightTop_3">
                    <div>
                        <div style="float: left;width: 80px;"><a href="#"><img src="img/imgs/5.png" height="80px" width="80px"></a></div>
                        <div style="float: left;width: 110px;"><p style="font-size: 10px;color: red;font-weight: bolder;text-align: center">
                            <a href="#" style="color: #AA0000;font-weight: normal">霍尼韦尔霍尼韦尔霍尼韦尔霍尼韦尔霍尼韦尔霍尼韦尔霍尼韦尔霍尼韦尔霍尼韦尔霍尼韦尔霍尼韦尔霍尼韦尔霍尼韦尔</a><br>¥1298.00元</p></div>
                    </div>
                    <div>
                        <div style="float: left;width: 80px;clear: both"><a href="#"><img src="img/imgs/4.png" height="80px" width="80px"></a></div>
                        <div style="float: left;width: 110px"><p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">戴尔I560SR-128 商用台</a><br>¥3999.00元</p></div>
                    </div>
                    <div>
                        <div style="float: left;width: 80px;clear: both"><a href="#"><img src="img/imgs/3.png" height="80px" width="80px"></a></div>
                        <div style="float: left;width: 110px"><p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">爱普生EPL-N2500</a><br>¥7599.00元</p></div>
                    </div>
                    <div>
                        <div style="float: left;width: 80px;clear: both"><a href="#"><img src="img/imgs/2.png" height="80px" width="80px"></a></div>
                        <div style="float: left;width: 110px;"><p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">美的电脑版电压力锅</a><br>¥389.00元</p></div>
                    </div>
                    <div>
                        <div style="float: left;width: 80px;clear: both"><a href="#"><img src="img/imgs/9.png" height="80px" width="80px"></a></div>
                        <div style="float: left;width: 110px;"><p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">佳能A1100IS数码相机</a><br>¥5398.00元</p></div>
                    </div>
                    <div>
                        <div style="float: left;width: 80px;clear: both"><a href="#"><img src="img/imgs/2.png" height="80px" width="80px"></a></div>
                        <div style="float: left;width: 110px;"><p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">美的电脑版电压力锅</a><br>¥389.00元</p></div>
                    </div>
                    <div>
                        <div style="float: left;width: 80px;clear: both"><a href="#"><img src="img/imgs/9.png" height="80px" width="80px"></a></div>
                        <div style="float: left;width: 110px;"><p style="font-size: 10px;color: red;font-weight: bolder;text-align: center"><a href="#" style="color: #AA0000;font-weight: normal">佳能A1100IS数码相机</a><br>¥5398.00元</p></div>
                    </div>

                </div>
                <img src="img/Wrzcnet/right_01.jpg">
            </div>

        </div>
        <!--网站底部-->
        <div id="foot">
            <div class="footInfo">
                <span>关于我们</span>
                <ul>
                    <li><a href="#">发展历程</a></li>
                    <li><a href="#">联系方式</a></li>
                    <li><a href="#">公司介绍</a></li>
                    <li><a href="#">企业文化</a></li>
                </ul>
            </div>
            <div class="footInfo">
                <span>付款方式</span>
                <ul>
                    <li><a href="#">银行汇款</a></li>
                    <li><a href="#">在线支付</a></li>
                    <li><a href="#">银行汇款</a></li>
                    <li><a href="#">公司转账</a></li>
                </ul>
            </div>
            <div class="footInfo">
                <span>送货方式</span>
                <ul>
                    <li><a href="#">上门自提</a></li>
                    <li><a href="#"> EMS快递</a></li>
                    <li><a href="#">快递发货</a></li>
                    <li><a href="#">平邮发货</a></li>
                </ul>
            </div>
            <div class="footInfo">
                <span>售后服务</span>
                <ul>
                    <li><a href="#">质量保障</a></li>
                    <li><a href="#">退换货政策</a></li>
                    <li><a href="#">价格保护</a></li>
                    <li><a href="#">返修申请</a></li>
                </ul>
            </div>
            <div class="footInfo">
                <span>购物帮助</span>
                <ul>
                    <li><a href="#">用户级别</a></li>
                    <li><a href="#">积分获得与使用</a></li>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">常见问题</a></li>
                </ul>
            </div>

        </div>
        <!--<div id="bottomShopInfo"><span><a href="#">淘宝店</a></span> <span><a href="#">易趣店</a></span> <span><a href="#">拍拍店</a></span> <span><a href="#">有啊店</a></span><br>-->
        <footer id="bottomShopInfo">
            <a href="#">淘宝店</a></span> <span><a href="#">易趣店</a></span> <span><a href="#">拍拍店</a></span> <span><a href="#">有啊店</a></span>
            <br>
            <span style="color: black;font-size: 10px;">Copyright 2015 127.0.0.1. All Rights Reserved.版权所有：广州网软志成信息科技有限公司</span>
        </footer>

        <!--</div>-->

    </div>


</body>
</html>